.conteiner{
    text-align: center;
    border: 2px solid Tomato;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(255, 255, 255);
   
    
    background-color: rgb(0, 0, 0);
  
    
}



h1{
    margin-top:0px;
    background-color:Tomato;
    
    height: 200px;
    font-size :75px;
    
}
.border{
    border: 2px solid Tomato;
}


button {
    text-rendering: auto;
    
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color:rgb(0, 0, 0);
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: double;
    border-color: Tomato;
    border-image: initial;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    cursor: pointer;
}